@inject WeatherForecastService ForecastService
@* TODO: Add Calendar Week*@
<div class="row">
    @* TODO: Add Calendar Days*@
    <div class="col">
        <DayViewer ProjectTasks="@WeekTasks.Where(x => x.DateTime.DayOfWeek == DayOfWeek.Monday).ToList()"></DayViewer>
    </div>
    <div class="col">
        <DayViewer ProjectTasks="@WeekTasks.Where(x => x.DateTime.DayOfWeek == DayOfWeek.Tuesday).ToList()"></DayViewer>
    </div>
    <div class="col">
        <DayViewer ProjectTasks="@WeekTasks.Where(x => x.DateTime.DayOfWeek == DayOfWeek.Wednesday).ToList()"></DayViewer>
    </div>
    <div class="col">
        <DayViewer ProjectTasks="@WeekTasks.Where(x => x.DateTime.DayOfWeek == DayOfWeek.Thursday).ToList()"></DayViewer>
    </div>
    <div class="col">
        <DayViewer ProjectTasks="@WeekTasks.Where(x => x.DateTime.DayOfWeek == DayOfWeek.Friday).ToList()"></DayViewer>
    </div>
</div>

@code {
    [Parameter]
    public int CalendarWeek { get; set; }

    [Parameter]
    public List<ProjectTask> ProjectTasks { get; set; }

    private List<ProjectTask> WeekTasks { get; set; }

    protected override void OnInitialized()
    {
        if (CalendarWeek.Equals(0))
            CalendarWeek = ForecastService.GetCurrentCalendarWeek();

        WeekTasks = ForecastService.GetWeekProjectTasks(ProjectTasks, CalendarWeek);
    }
}
