@page "/"
@inject DataService DataService

<div class="job-side-nav">
    <div class="job-container">
        @foreach (var job in Jobs)
        {
            <JobView Job="job"></JobView>
        }
    </div>
</div>

<TaskWeekView Tasks="Tasks" OnDateChanged="HandleDateChanged">
    <TaskDayView DayDate="@DateTime.Now.AddDays(-2).ToShortDateString()" />
    <TaskDayView DayDate="@DateTime.Now.AddDays(-1).ToShortDateString()" />
    <TaskDayView DayDate="@DateTime.Now.ToShortDateString()" />
    <TaskDayView DayDate="@DateTime.Now.AddDays(1).ToShortDateString()" />
    <TaskDayView DayDate="@DateTime.Now.AddDays(2).ToShortDateString()" />
</TaskWeekView>

<button class="float-btn" type="button" @onclick="AddTask"><i class="oi oi-plus" /></button>

<RemoveTaskDropZone />

@code {
    List<JobTask> Tasks { get; set; }
    List<ProjectJob> Jobs { get; set; }

    protected override void OnInitialized()
    {
        DataService.LoadJobs();
        DataService.LoadTasks();
        Jobs = DataService.Jobs.ToList();
        Tasks = DataService.Tasks.ToList();
    }

    void HandleDateChanged(JobTask jobTask)
    {
        DataService.SaveTasks(Tasks.ToArray());
    }

    void AddTask()
    {
        Tasks.Add(new JobTask() {
            ProjectJob = Jobs.OrderByDescending(x=>x.Id).FirstOrDefault(),
            Hours = 0.5,
            Date = DateTime.Today,
            TaskType = TaskType.Normal,
            Id = Guid.NewGuid(),
        });
        StateHasChanged();
    }
}
